# Dependências
/node_modules
/.pnp
.pnp.js

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de build
/build
/dist

# Arquivos de cache
.npm
.eslintcache
.stylelintcache

# Arquivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Arquivos de teste
/coverage

# Arquivos do sistema
.DS_Store
Thumbs.db 